@import "@/style/vars";
@import "@/style/utilities";
@import "@/style/mixins";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1170px;
    height: 100vh;
    margin: 0 auto;
}

img{
    max-width: 100%;
}